@import './../../assets/scss/mixin.scss';

.banner {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    @include adaptive-value('padding-bottom', 69, 59, 1);

    span {
        font-weight: 900;
    }

    &__left {
        h1 {
            @include adaptive-value('margin-bottom', 30, 15, 1);
        }

        div {
            font-family: 'Montserrat';
            font-weight: 400;
        }
    }

    &__right {
        text-align: right;
        @include adaptive-value('padding-top', 15, 0, 1);

        &-info {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: start;
            margin-top: 40px;
            @include adaptive-value('margin-top', 40, 20, 1);
            @include adaptive-value('gap', 31, 10, 1);

            h3 {
                span {
                    display: none;

                }
            }
        }

        &-button {
            width: auto;
            max-width: none;
            text-align: center;
            background: #4077F3;
            width: 93%;
            margin-left: auto;
            @include adaptive-value('margin-top', 61, 30, 1);

            @include adaptive-value('padding-top', 21, 30, 1);
            @include adaptive-value('padding-bottom', 21, 30, 1);
        }

    }
}

@media (max-width:768px) {
    .banner {
        display: block;

        &__right {
            margin-top: 45px;
            text-align: left;

            &-info {
                h3 {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    span {
                        display: inline;
                        letter-spacing: -0.19em;
                        font-weight: 500;
                    }
                }

                &-desc {
                    display: none;
                }
            }

            &-button {
                display: none;
            }
        }
    }
}