@import './../../assets/scss/mixin.scss';

.circle1 {
    position: absolute;
    z-index: 1;
    @include adaptive-value('top', 73, 200, 1);
    @include adaptive-value('left', 519, 0, 1);
    width: 118px;
    height: 118px;
}

.circle2 {
    position: absolute;
    z-index: 2;
    top: 0;
    @include adaptive-value('right', 512, 0, 1);
    width: 90px;
    height: 90px;
}

.circle3 {
    position: absolute;
    z-index: 2;

    @include adaptive-value('bottom', 405, 200, 1);
    @include adaptive-value('right', 561, 0, 1);
    width: 48px;
    height: 48px;
}

.gradient1 {
    // display: none;
    position: absolute;
    z-index: 3;
    width: 259px;
    height: 259px;
    @include adaptive-value('left', 602, 0, 1);
    top: 0;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}

.gradient2 {
    position: absolute;
    z-index: 4;
    width: 311px;
    height: 311px;
    left: 0;
    top: 251px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}